.kpi .kpi-list {
  display: grid;
  gap: var(--space-40);
  grid-template-columns: repeat(auto, 1fr);
  align-items: center;
  justify-items: center;
  text-align: center;
}

.kpi .kpi-item {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

@media (min-width: 576px) {
  .kpi .kpi-list {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}
