.testimony-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimony-quote {
  text-align: center;
}

.testimony-quote p::before,
.testimony-quote p::after {
  content: "“";
}

.testimony-author {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: var(--space-8);
}

.testimony-avatar {
  width: var(--size-44);
  height: var(--size-44);
  border-radius: var(--radius-full);
  object-fit: cover;
}

.testimony-meta {
  display: grid;
}

.testimony-meta .name {
  font-family: var(--font-primary);
  font-size: var(--text-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-md);
  color: var(--colour-slate-800);
}

.testimony-meta .role {
  font-family: var(--font-primary);
  font-size: var(--text-sm);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-md);
  color: var(--colour-slate-600);
}

@media (min-width: 576px) {
  .testimony-quote {
    text-align: center;
    margin: 0 var(--space-80) var(--space-40);
  }
}
