.writings .w-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.writings a {
  text-decoration: none;
  cursor: pointer;
}

.writings .w-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-16);
  padding: var(--space-8) 0;
  align-items: center;
}

.writings .w-left {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  min-width: 0;
}

.writings .w-title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.writings .link {
  display: inline-flex;
  align-items: center;
  gap: var(--space-8);
  color: var(--colour-slate-600);
}

.writings .link .icon {
  stroke: currentColor;
}

.writings .link:hover {
  text-decoration: underline;
  color: var(--colour-slate-950);
}

@media (min-width: 576px) {
  .writings .w-card {
    grid-template-columns: 1fr auto;
  }

  .writings .w-right {
    justify-self: end;
  }

  .writings .w-title {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
  }
}
