@import url(./reset.css);
@import url(./tokens.css);
@import url(./base.css);
@import url(./layouts.css);

@import url(./components/hero.css);
@import url(./components/references.css);
@import url(./components/case-studies.css);
@import url(./components/testimony.css);
@import url(./components/about.css);
@import url(./components/testimonials.css);
@import url(./components/kpi.css);
@import url(./components/writings.css);
@import url(./components/footer.css);

.aurora {
  position: absolute;
  left: 0;
  right: 0;
  height: 900px;
  pointer-events: none;
  z-index: -10;
  background: url("../assets/images/backgrounds/aurora.svg") no-repeat center
    top / cover;
}
