.section {
  border-top: var(--size-1) solid var(--colour-slate-300);
}

.section:last-of-type,
.section:first-of-type {
  border-top: none;
}

.container {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  padding: var(--space-128) clamp(var(--space-24), 5.6vw, var(--space-80));

  background: linear-gradient(var(--colour-slate-300), var(--colour-slate-300))
      left var(--space-8) top / var(--size-1) 100% no-repeat,
    linear-gradient(var(--colour-slate-300), var(--colour-slate-300)) right
      var(--space-8) top / var(--size-1) 100% no-repeat;
}
