<template id="footer-template">
  <div class="ft-wrap">
    <div class="ft-about">
      <div class="block-id">
        <p class="name">Nicholas Codet</p>
        <p class="role">Product Designer</p>
      </div>
      <p class="location">
        Currently based in France,<br />Available across Europe.
      </p>
    </div>

    <div class="ft-contact">
      <div class="block-actions">
        <p class="headline-1">
          I'd love to hear about your project or idea. Let's connect.
        </p>

        <div class="actions">
          <a class="btn-md btn-primary email-link" role="button">
            <span class="shadow"></span>
            <span class="edge"></span>
            <span class="front">
              <svg class="icon bold" width="24" height="24" aria-hidden="true">
                <use class="email-icon"></use>
              </svg>
              <span class="email-label">Email me</span>
            </span>
          </a>

          <button
            class="btn-md btn-secondary copy-email"
            type="button"
            aria-live="polite"
          >
            <span class="shadow"></span>
            <span class="edge"></span>
            <span class="front">
              <span class="copy-email-text"></span>
              <svg
                class="icon linear"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use class="copy-icon"></use>
              </svg>
            </span>
            <span class="visually-hidden" aria-hidden="true"
              >Email Copied!</span
            >
          </button>
        </div>
      </div>

      <div class="ft-links">
        <div class="block-projects">
          <h3 class="heading-3">Selected projects</h3>
          <ul class="ft-list projects"></ul>
        </div>

        <div class="block-socials">
          <h3 class="heading-3">Socials</h3>
          <ul
            class="ft-list socials"
            role="list"
            aria-label="Social links"
          ></ul>
        </div>
      </div>
    </div>
  </div>

  <div class="ft-bottom" role="contentinfo">
    <p class="copyright"></p>
  </div>
</template>
