<template id="footer-template">
  <div class="ft-wrap">
    <div class="ft-about">
      <div class="block-id">
        <p class="name">Nicholas Codet</p>
        <p class="role">Product Designer</p>
      </div>
      <p class="tex-md location">
        Currently based in France,<br />
        Available across Europe.
      </p>
    </div>

    <div class="ft-contact">
      <div class="block-actions">
        <p class="headline-1">
          I'd love to hear about your project or idea. <br class="br-d" />
          Let's connect.
        </p>

        <div class="actions"></div>
      </div>

      <div class="ft-links">
        <div class="block-projects">
          <h3 class="heading-3">Selected projects</h3>
          <ul class="ft-list projects"></ul>
        </div>

        <div class="block-socials">
          <h3 class="heading-3">Socials</h3>
          <ul
            class="ft-list socials"
            role="list"
            aria-label="Social links"
          ></ul>
        </div>
      </div>
    </div>
  </div>

  <div class="ft-bottom" role="contentinfo">
    <p class="copyright"></p>
  </div>
</template>
